.password-input-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    .password-input {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: $dark-purple;
    }

    .actions {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .button {
            background-color: #41074e;
        }
    }
}