@font-face {
    font-family: "Good times";
    src: url('../assets/fonts/good_times.otf');
}

$purple-primary: #2e0436;
$dark-purple: #2F1136;
$client-gradient: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(46,4,54,1) 100%);
$button-gradient: linear-gradient(315deg, rgba(45,17,50,1) 0%, rgba(37,15,41,1) 100%);
$store-gradient: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgb(20, 6, 80) 100%);