.client-create-pin {
    .button {
        margin-top: 20px;
    }

    .pin-field-wrapper {
        text-align: center;

        .input-wrap {
            width: 100%;
        }

        .button {
            margin-left: 10px;
        }
    }
}
