.client-app-root {
    height: 100%;
    width: 100%;
    background: $client-gradient;

    .gradient-wrap {
        background-image: url('../assets/images/pattern.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}